*{
    margin:0;
    padding:0;
    font-family: ambroise-std, serif;
}

#banner{
    background: url(billedemappe/Baggrund.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}

.banner-text{
    text-align: center;
    color: black;
    padding-top: 180px;
    width:50px;
    transform: translateX(20%);
}

.banner-text h1{
    font-size: 45px;
    font-weight: bold;

}

.banner-text p{
    font-size: 20px;
    font-style: italic;

}



/* navigations bruger menu*/
#menu{
    width: 150px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #5c86a29d;
    z-index: 2;
    margin-top:65px;
}

nav ul li{
    list-style: none;
    margin-top:25px;
    margin-bottom:35px;
    margin-left:25px;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
}

nav ul li {
    display: inline-block;
    list-style: none;
   
}
nav ul li a {
    color: #E8E8E3;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background:#000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}
nav ul li a:hover::after {
    width: 100%;
}

nav ul li a{
    text-decoration: none;
    color: #000;
}

#menubtn {
    width:80px;
    height:80px;
    margin-top:-25px;
    background: none;
    text-align: center;
    right: -1px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
    position: absolute;
}

@media only screen and (min-width: 768px) {
    #menu {
      top:0;
      right:unset;
      left:0;
      width:100%;
      margin-top:0;
    }

    #menu ul {
        display: flex;
        flex-direction: row;
    }
    

    #menubtn {
        display: none;
    }
}



